* {
    font-family: 'Roboto', sans-serif;
}

a {
    color: rgb(129, 127, 127);
    text-decoration: none;
}

.nav {
    background-color: rgb(70, 70, 70);
    color: white;
    width: 700px;
    height: 35px;
    padding: 8px 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.nav-title {
    font-size: 25px;
}

.nav-links {
    font-size: 13px;
    display: flex;
    align-items: center;
    gap:20px;
    list-style: none;
}


.active {
    color: white;
}

.btn {
    background-color: rgb(3, 187, 187);
    color: white;
    width: 80px;
    border: 3px solid black;
    box-shadow: 2px 4px black;
}